

body {
    background-color:rgb(182, 211, 241);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#columns {padding-top: 4rem;}

.longbutton {
    width:13rem;
    background-image: linear-gradient(blue,white );
    margin-bottom: 2rem;
}

.headhero {
    background-image:linear-gradient(blue, white);
}