

body {
    background-color:#b6d3f1;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans','Lucida Grande', sans-serif;
}

.headhero {
    background: linear-gradient(blue, white);
}

.headhero h1 {
    font-size: 3rem;
    color: black;
}

.headhero p {
    color: black;
}

#columns {
    padding-top: 4rem;
}

.longbutton {
    width:13rem;
    background: linear-gradient(blue, white);
    margin-bottom: 2rem;
    color: black;
    font-weight: 600;
}

#song-search {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 600;
}

#search-btn {
    background: linear-gradient(blue, white);
    font-weight: 600;
}

.button:hover {
    color: white;
}

.fa-magnifying-glass:hover {
    color: white !important;
    background-image:linear-gradient(blue, white);
}

  tr, th, td {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 40px;
  }

  thead{
    border-bottom: 1px solid black;
  }
